@model Laboratorio
@{
    ViewData["Title"] = "Agrega Laboratorios";
}


<h1>Crear Laboratorio</h1>
<h5>Registrar datos de Laboratorio</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Laboratorios" asp-action="Editar">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">        </label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

<button type="submit" class="btn btn-primary">Enviar</button>
<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
