@model IEnumerable<Laboratorio>
@{
    ViewData["Title"] = "Laboratorios";
}

<h1>Laboratorios</h1>
<h2>Gestion de laboratorios</h2>

<a asp-action="Crear" class="btn btn-primary">Agregar Laboratorio</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre </th>
            <th>Acciones </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var laboratorio in Model)
        {
            <tr>
                <td>@laboratorio.Nombre</td>
                <td><a class="btn btn-primary" asp-action="Editar" asp-route-id="@laboratorio.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@laboratorio.Id">Eliminar</a></td>
            </tr>
        }

    </tbody>

</table>
